@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css?family=Rubik+Doodle+Shadow');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Prompt');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

.cart_place_mobile {
  display: none;
}

.mobile_search_place {
  display: none;
}


.home_big_lay {
  width: 99vw;
  height: auto;
  font-family: 'Prompt';
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home_layout {
  width: 99vw;
  height: 100vh;
}

.header {
  width: 100%;
  height: 20vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 100000;
  font-family: 'Prompt';
}

.logo_position {
  width: 14%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% ;
}

.shop_system {
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: center;
  align-items: center;
  gap: 3em;
  font-size: 100%;

}

.shop_features {
  cursor: pointer;
  transition: 0.3s;
}

.shop_features:hover {
  color: brown;
}

.cart_place {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 100000;
  background-color: #3d3d3d;
  right: 0;
  transition: 0.5s;
  gap: 2em;

}

.close_cart {
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.close_cart:hover {
  color: yellow;
}

.cart_products_position {
  width: 95%;
  height: 10%;

  display: flex;
  gap: 1em;
}

.cart_product_img {
  width: 30%;
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% ;
  cursor: pointer;
}

.cart_product_details {
  width: 100%;
  height: 100%;
}

.cart_product_title {
  font-size: 110%;
  font-weight: bold;
  font-style: italic;
  transition: 0.3s;
  cursor: pointer;
  color: white;
}

.cart_product_title:hover {
  color: yellow;
}

.cart_product_price {
  font-size: 90%;
  color: white;
}


.delete-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;

}

.delete-svgIcon {
  width: 15px;
  transition-duration: 0.3s;

}

.delete-svgIcon path {
  fill: white;

}

.delete-button:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;

}

.delete-button:hover .delete-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);

}

.delete-button::before {
  display: none;
  content: "Delete";
  color: white;
  transition-duration: 0.3s;


}

.delete-button:hover::before {
  display: block;
  padding-right: 10px;

  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;

}



.Btn {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: .3s;

}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: white;
}

.Btn::before {
  width: calc(100% + 40px);
  aspect-ratio: 1/1;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -20px;
  top: 50%;
  transform: translate(-150%, -50%);
  transition-duration: .5s;
  mix-blend-mode: difference;
}

.Btn:hover::before {
  transform: translate(0, -50%);
}

.Btn:active {
  transform: translateY(4px);
  transition-duration: .3s;
}


.shop_slideposter {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: row;

}

.slide {
  width: 100%;
  height: 82%;
  background-repeat: no-repeat;
  background-size: 85% 90%;
  background-position: center;
  margin-top: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.5s;
}

.arrow_position {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.left_arrow {

  cursor: pointer;
  transition: 0.2s;
  font-size: 200%;
}

.right_arrow {

  cursor: pointer;
  transition: 0.2s;
  font-size: 200%;
}


.left_arrow:hover {
  color: #c7c7c7;
}

.right_arrow:hover {
  color: #c7c7c7;
}

.shop_categories {
  width: 100%;
  height: 10vh;

  display: flex;
  justify-content: center;
  gap: 4.5em;
  font-size: 100%;

}

.categories_position {
  width: 35%;
  height: 100%;
  display: flex;
  gap: 3em;

}

.categories {

  width: auto;
  height: 40%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;


}

.categories:hover {
  color: brown;
  border-bottom: 0.1px solid brown;
}

.filter_cake {
  width: 11%;
  height: 100%;

  display: flex;
  justify-content: center;
  gap: 2em;
}

.filter {
  width: auto;
  height: 40%;

  display: flex;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
}

.filter:hover {
  color: brown;
  border-bottom: 0.1px solid brown;

}

.search {
  width: auto;
  height: 40%;
  display: flex;
  justify-content: center;
  transition: 0.2s;

  cursor: pointer;
}

.search:hover {
  color: brown;
  border-bottom: 0.1px solid brown;
}

.filter_place {
  width: 100%;
  height: 20vh;

  transition: 0.3s;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;

}

.sorting {
  width: 50%;
  height: 100%;

  display: flex;
  transition: 0.3s;
}

.sort_method_position {
  width: 25%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 1em;
  transition: 0.3s;

}

.sort_title {
  width: 100%;
  height: 20%;


  font-weight: bold;
  transition: 0.3s;
  font-size: 100%;
}

.methods_position {
  width: 100%;
  display: flex;
  height: 70%;
  flex-direction: column;
  justify-content: space-around;
  font-size: 90%;
  transition: 0.3s;
}

.methods {
  transition: 0.3s;
  cursor: pointer;

}

.methods:hover {
  color: brown;
}

.sort_price {
  width: 25%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 1em;
  transition: 0.3s;

}

.sort_price_title {
  width: 100%;
  height: 20%;

  font-size: 100%;
  font-weight: bold;
  transition: 0.3s;
}

.sort_price_methods_position {
  width: 100%;
  display: flex;
  height: 30%;
  flex-direction: column;
  justify-content: space-around;
  font-size: 14px;
  transition: 0.3s;
  font-size: 90%;
}

.price_methods {
  transition: 0.3s;
  cursor: pointer;

}

.price_methods:hover {
  color: brown;
}

.search_position {
  width: 100%;
  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  transition: 1s;
}

.search_input {
  width: 47%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 100%;
}

::placeholder {
  font-size: 100%;
}

.off_input {
  margin-right: 1em;

  opacity: 50%;
  cursor: pointer;
  transition: 0.3s;
  font-size: 90%;
}

.off_input:hover {
  opacity: 1;
}

.icon {
  opacity: 50%;
  width: 1em;
}

.search_result {
  height: auto;

  width: 50%;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}

.results {
  height: auto;
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  transition: 0.3s;
  cursor: pointer;
  font-size: 100%;
}

.results:hover {
  background-color: #e3e3e3;
}

.product_position {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  transition: 0.5s;
  cursor: pointer;
  padding-bottom: 8vh;



}

.product1 {
  width: 30%;
  height: 40vh;
  background-size: 100% 87%;

  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.2s;
  border: none;

}

.product2 {
  width: 30%;
  height: 40vh;
  background-size: 100% 87%;

  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.2s;
}

.product3 {
  width: 30%;
  height: 40vh;
  background-size: 100% 87%;

  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.2s;
}

.product4 {
  width: 63.5%;
  height: 70vh;
  background-size: 100% 90%;

  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.2s;
}

.product5 {
  width: 30%;
  height: 40vh;
  background-size: 100% 87%;

  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.2s;
}

.product6 {
  width: 30%;
  height: 40vh;
  background-size: 100% 87%;

  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.2s;
}

.product7 {
  width: 30%;
  height: 40vh;
  background-size: 100% 87%;

  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.2s;
}

.product8 {
  width: 30%;
  height: 40vh;
  background-size: 100% 87%;

  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.2s;
}

.product9 {
  width: 63.5%;
  height: 70vh;
  background-size: 100% 90%;

  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.2s;
}

.product10 {
  width: 30%;
  height: 40vh;
  background-size: 100% 87%;

  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.2s;
}

.product11 {
  width: 30%;
  height: 40vh;
  background-size: 100% 87%;

  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.2s;
}

.product12 {
  width: 30%;
  height: 40vh;
  background-size: 100% 87%;

  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: 0.2s;
}


.cake_title {
  font-size: 100%;
}

.cake_price {
  font-size: 70%;
  transition: 0.5s;
}

.showmore_text {
  font-size: 75%;
  width: 5vw;
  border-bottom: 0.2px solid grey;
  transition: 0.5s;
  padding-bottom: 2px;
}

.showmore_text:hover {
  color: brown;
}
.loader {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
}

.truckWrapper {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  overflow-x: hidden;
  
}
/* truck upper body */
.truckBody {
  width: 130px;
  height: fit-content;
  margin-bottom: 6px;
  animation: motion 1s linear infinite;
}
/* truck suspension animation*/
@keyframes motion {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* truck's tires */
.truckTires {
  width: 130px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 15px;
  position: absolute;
  bottom: 0;
}
.truckTires svg {
  width: 24px;
}

.road {
  width: 100%;
  height: 1.5px;
  background-color: #282828;
  position: relative;
  bottom: 0;
  align-self: flex-end;
  border-radius: 3px;
}
.road::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  background-color: #282828;
  right: -50%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 10px solid white;
}
.road::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 100%;
  background-color: #282828;
  right: -65%;
  border-radius: 3px;
  animation: roadAnimation 1.4s linear infinite;
  border-left: 4px solid white;
}

.lampPost {
  position: absolute;
  bottom: 0;
  right: -90%;
  height: 90px;
  animation: roadAnimation 1.4s linear infinite;
}

@keyframes roadAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-350px);
  }
}
.loading_text{
  font-size: 100%;
  font-weight: bold;
  
}

@media screen and (max-width: 1900px){
  .home_layout{
    width: 100%;
    
  }
  .shop_slideposter {
    width: 100%;
    height: 60%;
  
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10%;
  }
  .slide {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 85% ;
    background-position: center;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.5s;
    
  }
  .shop_categories {
    width: 100%;
    height: 10%;
  
    display: flex;
    justify-content: center;
    gap: 4.5em;
    font-size: 80%;
    padding-bottom: 5%;
  }
  .cart_place {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 100000;
    background-color: #3d3d3d;
    right: 0;
    transition: 0.5s;
    gap: 2em;
  
  }
}
@media screen and (max-width: 1400px){
  .home_layout{
    display: block;
    width: 100%;
    height: 80vh;
  }
  .shop_slideposter {
    width: 100%;
    height: 80%;
  
    display: flex;
    justify-content: center;
    flex-direction: row;
    
  }
  .slide {
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: 85% ;
    background-position: center;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: 0.5s;
    
  }
  .shop_categories {
    width: 100%;
    height: 10%;
  
    display: flex;
    justify-content: center;
    gap: 4.5em;
    font-size: 60%;
    padding-bottom: 5%;
  }
}
@media screen and (max-width: 1000px) {
  .header {
    display: none;
  }


  .logo_position {
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 70%;

  }

  .mobile_header {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
  }

  .hamburger_icon {
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
    left: 0;
    position: fixed;
    font-weight: bold;
    color: black;
  }

  .shop_system_mobile {
    width: 50%;
    height: 40vh;
    position: fixed;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 100;
    border: 0.1px solid #999999;

  }

  .shop_features_mobile {
    width: 55%;
    padding-bottom: 4%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
  }

  .shop_features_mobile:hover {
    color: brown;
    border-bottom: 1px solid brown;
  }

  .cart_place {
    display: none;
  }

  .cart_place_mobile {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
    background-color: #3d3d3d;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1em;
    z-index: 10000;

  }

  .product_position {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 90%;
  }

  .product1 {
    width: 45%;
    height: 35vh;
    background-size: 100% 85%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
    border: none;
  }

  .product2 {
    width: 45%;
    height: 35vh;
    background-size: 100% 85%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
  }

  .product3 {
    width: 45%;
    height: 35vh;
    background-size: 100% 85%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
  }

  .product4 {
    width: 45%;
    height: 35vh;
    background-size: 100% 85%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
  }

  .product5 {
    width: 45%;
    height: 35vh;
    background-size: 100% 85%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
  }

  .product6 {
    width: 45%;
    height: 35vh;
    background-size: 100% 85%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
  }

  .product7 {
    width: 45%;
    height: 35vh;
    background-size: 100% 85%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
  }

  .product8 {
    width: 45%;
    height: 35vh;
    background-size: 100% 85%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
  }

  .product9 {
    width: 45%;
    height: 35vh;
    background-size: 100% 85%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
  }

  .product10 {
    width: 45%;
    height: 35vh;
    background-size: 100% 85%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
  }

  .product11 {
    width: 45%;
    height: 35vh;
    background-size: 100% 85%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
  }

  .product12 {
    width: 45%;
    height: 35vh;
    background-size: 100% 85%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
  }

  .shop_categories {
    font-size: 50%;
    width: 100%;
    height: 5vh;

  }

  .filter_cake {
    width: 25%;


  }

  .filter {
    height: 50%;
    font-weight: bold;
    font-size: 150%;
  }

  .search {
    display: none;
  }

  .categories_position {
    display: none;
  }

  .categories {

    width: auto;
    cursor: pointer;
    transition: 0.2s;

  }

  .home_layout {
    width: 100%;
    height: 30vh;

  }

  .slide {
    background-size: 100%;
    height: 80%;

  }

  .filter_place {
    width: 97%;
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20%;

  }

  .sorting {

    width: 70%;
    height: 100%;
  }

  .sort_method_position {
    width: 100%;

  }

  .sort_price {
    width: 100%;
  }

  .methods {
    font-size: 80%;
  }

  .price_methods {
    font-size: 80%;
  }

  .cart_products_position {

    display: flex;
    gap: 1em;
    font-size: 90%;
  }

  .cart_product_img {
    width: 20%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
  }

  .cake_title {
    font-size: 92%;
    font-weight: bold;
  }

  .cake_price {
    font-size: 85%;
  }



  .mobile_search_place {
    display: block;
    width: 100%;
    display: flex;

    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
    padding-top: 20%;
  }

  .search_position_mobile {
    width: 100%;
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 1s;
    gap: 0.5em;
  }

  .mobile_icon {
    opacity: 50%;
    width: 1em;
    z-index: -1;
  }

  .search_input_mobile {
    width: 50%;
    height: 70%;
    border: none;
    outline: none;
    font-size: 90%;
    border-radius: 5%;
  }

  .off_input_mobile {
    margin-right: 1em;

    opacity: 50%;
    cursor: pointer;
    transition: 0.3s;
    font-size: 90%;
  }

  .off_input_mobile:hover {
    opacity: 1;
  }


  .search_result_mobile {
    height: auto;

    width: 50%;
    display: flex;
    flex-direction: column;
    transition: 0.5s;

  }

  .mobile_results {
    height: auto;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
    font-size: 70%;
  }
}


@media screen and (max-width: 580px) {
  .header {
    display: none;
  }


  .logo_position {
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 70%;

  }

  .mobile_header {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
  }

  .hamburger_icon {
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1000;
    left: 0;
    position: fixed;
    font-weight: bold;
    color: black;
  }

  .shop_system_mobile {
    width: 50%;
    height: 40vh;
    position: fixed;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 100;
    border: 0.1px solid #999999;

  }

  .shop_features_mobile {
    width: 55%;
    padding-bottom: 4%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
  }

  .shop_features_mobile:hover {
    color: brown;
    border-bottom: 1px solid brown;
  }

  .cart_place {
    display: none;
  }

  .cart_place_mobile {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 0;
    background-color: #3d3d3d;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1em;
    z-index: 10000;

  }

  .product_position {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 90%;
  }

  .product1 {
    width: 45%;
    height: 35vh;
    background-size: 100% 85%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
    border: none;
  }

  .product2 {
    width: 45%;
    height: 35vh;
    background-size: 100% 85%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
  }

  .product3 {
    width: 45%;
    height: 35vh;
    background-size: 100% 85%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
  }

  .product4 {
    width: 45%;
    height: 35vh;
    background-size: 100% 85%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
  }

  .product5 {
    width: 45%;
    height: 35vh;
    background-size: 100% 85%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
  }

  .product6 {
    width: 45%;
    height: 35vh;
    background-size: 100% 85%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
  }

  .product7 {
    width: 45%;
    height: 35vh;
    background-size: 100% 85%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
  }

  .product8 {
    width: 45%;
    height: 35vh;
    background-size: 100% 85%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
  }

  .product9 {
    width: 45%;
    height: 35vh;
    background-size: 100% 85%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
  }

  .product10 {
    width: 45%;
    height: 35vh;
    background-size: 100% 85%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
  }

  .product11 {
    width: 45%;
    height: 35vh;
    background-size: 100% 85%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
  }

  .product12 {
    width: 45%;
    height: 35vh;
    background-size: 100% 85%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
  }

  .shop_categories {
    font-size: 50%;
    width: 100%;
    height: 5vh;

  }

  .filter_cake {
    width: 25%;


  }

  .filter {
    height: 50%;
    font-weight: bold;
    font-size: 150%;
  }

  .search {
    display: none;
  }

  .categories_position {
    display: none;
  }

  .categories {

    width: auto;
    cursor: pointer;
    transition: 0.2s;

  }

  .home_layout {
    width: 100%;
    height: 30vh;

  }

  .slide {
    background-size: 100%;
    height: 80%;

  }

  .filter_place {
    width: 97%;
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20%;

  }

  .sorting {

    width: 70%;
    height: 100%;
  }

  .sort_method_position {
    width: 100%;

  }

  .sort_price {
    width: 100%;
  }

  .methods {
    font-size: 80%;
  }

  .price_methods {
    font-size: 80%;
  }

  .cart_products_position {

    display: flex;
    gap: 1em;
    font-size: 90%;
  }

  .cart_product_img {
    width: 20%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
  }

  .cake_title {
    font-size: 92%;
    font-weight: bold;
  }

  .cake_price {
    font-size: 85%;
  }



  .mobile_search_place {
    display: block;
    width: 100%;
    display: flex;

    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
    padding-top: 10%;
  }

  .search_position_mobile {
    width: 100%;
    height: 5vh;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 1s;
    gap: 0.5em;
  }

  .mobile_icon {
    opacity: 50%;
    width: 1em;
    z-index: -1;
  }

  .search_input_mobile {
    width: 50%;
    height: 70%;
    border: none;
    outline: none;
    font-size: 90%;
    border-radius: 5%;
  }

  .off_input_mobile {
    margin-right: 1em;

    opacity: 50%;
    cursor: pointer;
    transition: 0.3s;
    font-size: 90%;
  }

  .off_input_mobile:hover {
    opacity: 1;
  }


  .search_result_mobile {
    height: auto;

    width: 50%;
    display: flex;
    flex-direction: column;
    transition: 0.5s;

  }

  .mobile_results {
    height: auto;
    width: 100%;
    padding: 10px;
    background-color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
    font-size: 70%;
  }
}

@media screen and (max-width: 402px) {
  .shop_categories {
    font-size: 38%;
    width: 100%;
  }

  .shop_features_mobile {
    font-size: 60%;
    width: 60%;
  }
}