.productdetail_layout {
    width: 99vw;
    height: auto;

}

.empty_div {
    width: 100%;
    height: 20vh;


}

.productdetail_center {
    width: 100%;
    height: auto;
    background-color: #edebeb;
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-bottom: 5.9em;

}

.imgs_details_position {

    display: flex;
    height: auto;
}

.imgs_list {
    width: 5vw;
    height: 45vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.small_imgs {
    width: 100%;
    height: 6vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    cursor: pointer;
    transition: 0.3s;
}

.represent_img {
    width: 24vw;

    height: 60vh;
    margin-top: 10vh;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;

}

.introduction_place_detail {
    width: 22vw;
    height: auto;

    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    padding: 0 4em 0 3em;
    align-items: center;
}

.cake_title_detail {
    width: 100%;
    height: 5vh;

    display: flex;

    font-size: 1.5em;
    font-weight: bold;
}

.cake_price_detail {
    width: 100%;
    height: 2vh;

    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    color: #e3b264;
    padding-bottom: 1em;
}

.introduction_text_detail {
    width: 90%;
    height: auto;
    font-size: 18px;
    padding-bottom: 2em;

}

.cake_size_detail {
    width: 100%;
    height: 12vh;
    padding-bottom: 3em;
    border: 1px solid #dadada;

}

.size_position {
    width: 100%;
    height: 35%;

    display: flex;
    align-items: center;
    gap: 1em;
    padding-left: 0.7em;
}

.size1 {
    width: auto;
    height: auto;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px;


}

.size1:hover {
    border: 1px solid black;
}

.size_des {
    width: 97%;
    height: 25%;
    padding-bottom: 1.5em;
    border-top: 1px solid #dadada;
    padding-left: 0.7em;
    padding-top: 1em;


}

.size_price {
    width: 97%;
    height: 30%;
    border-bottom: 1px solid #dadada;

    color: #e3b264;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 0.7em;
}

.addtocart_button {
    background-color: #001a36;
    color: white;
    width: 100%;
    height: 5vh;
    transition: 0.3s;
    cursor: pointer;
}

.addtocart_button:hover {
    opacity: 0.7;
}

.cake_description {

    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    padding-bottom: 4em;
}

.description_place {

    width: 47%;
    height: auto;
    display: flex;
    gap: 1em;
    flex-direction: column;
    font-size: 15px;

}

.des_title {
    font-size: 18px;
    width: auto;
    height: auto;
    padding: 10px 10px 10px 10px;
    border-bottom: 1px solid black;
}

.recommended_cake_position {
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 3%;
}

.recommended_cake {
    width: 20%;
    height: 35vh;
    background-size: 100% 82%;

    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
    border: none;
    cursor: pointer;
    padding-bottom: 2%;
}

.recommended_title {
    font-size: 150%;
    font-weight: bold;
    padding-bottom: 3%;
}

.cakes_position {
    width: 75%;
    height: auto;

    display: flex;
    justify-content: space-around;

}

@media screen and (max-width: 430px) {
    .productdetail_layout {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;

        align-items: center;
    }

    .empty_div {
        display: none;
    }

    .productdetail_center {

        display: flex;
        flex-direction: column;

        align-items: center;

    }

    .imgs_details_position {

        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .imgs_list {

        width: 90%;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: center;
    }

    .small_imgs {
        width: 20%;
        background-size: 100%;

    }

    .represent_img {
        width: 100%;
        height: 50vh;
        background-size: 100%;
    }

    .introduction_place_detail {

        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cake_title_detail {

        display: flex;
        justify-content: center;
        width: 100%;
    }

    .cake_price_detail {

        display: flex;
        justify-content: center;
        width: 100%;
    }

    .cake_size_detail {

        width: 90%;
    }

    .description_place {

        width: 95%;
        font-size: 90%;
        display: flex;
        justify-content: center;
    }

    .addtocart_button {
        height: 5vh;
    }

    .recommended_cake_position {
        width: 100%;
        height: auto;
    }

    .cakes_position {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;

    }

    .recommended_cake {
        width: 45%;
        height: 37vh;
        background-size: 100% 86%;

        background-position: top;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transition: 0.2s;
        border: none;
        cursor: pointer;
    }
}

@media screen and (max-width: 380px) {
    .recommended_cake {
        width: 45%;
        height: 37vh;
        background-size: 100% 82%;
        background-position: top;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        transition: 0.2s;
        border: none;
        cursor: pointer;
    }
}